.container-desktop-admin {
    margin: 7rem 20rem;
}

.card-admin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--radius-block);
    background-color: var(--background-secondary);

    width: 100%;
    height: 100%;
    min-width: 20rem;
    
    .title {
        text-align: center;
        color: var(--text-primary);
        padding: 1rem 0;
        font-weight: 800;
        font-size: 1.25rem;
    }
    .list {
        padding: 1rem;
    }
    .no-data {
        text-align: center;
        color: var(--text-secondary);
    }
    .actions {
        .el-button {
            background-color: var(--background-secondary);
            border: none;
            outline: none;
            color: var(--text-primary);
        }
    
        .el-button i,
        button:hover  {
            color: var(--text-secondary);
            outline: none;
        }
    }
    
}

:root {
    --positive: #FEAA00;
    --negative: red;

    --text-primary: #F7F4EF;
    --text-primary-disabled: rgb(247 244 239 / 25%);
    --text-secondary: #FEAA00;
    --text-secondary-disabled: #2ADE69;
    
    --background: #342628;
    --background-secondary: #4C3D3F;

    --radius-block: 0.5rem;

    --padding-content-mobile: 1rem 1rem 7rem 1rem;
    --padding-content-tablet: 1rem 6rem;
    --padding-content-desktop: 1rem 20rem;
}

body {
    background-color: var(--background);
}

.el-loading-spinner {
    display: flex;
    justify-content: center;
}

.el-loading-mask {
    background-color: var(--primary);       
}
.el-loading-spinner .path {
    stroke: white;
    stroke-width: 5px;
}

.btn-backgound-dark {
    background-color: var(--background-secondary);
    color: var(--text-primary);
    border: none;

    &:hover,
    &:focus {
        color: var(--text-secondary);
        background-color: var(--background-secondary);
        border: none;
        outline: none;
    }
    &.is-disabled {
        background-color: var(--background-secondary);
        color: var(--text-primary);
        border: none;
        opacity: 0.5;
    }
}

.item {
    background-color: var(--background);
    color: var(--text-primary);
    border-radius: var(--radius-block);
    margin: 1rem 0;
    padding: 0.5rem;
}

.el-button {
    &:hover,
    &:focus {
        outline: none;
        color: var(--text-primary);
    }    
}
.el-button--default {
    background-color: var(--background-secondary);
    color: var(--text-primary);
    border: none;
}
.el-button--primary {
    background-color: var(--text-secondary);
    border: none;

    &.is-disabled {
        background-color: var(--text-secondary-disabled);
    }
}

/*  =================================================================
                        RESPONSIVE
    ================================================================= */

//
// MOBILE
//
/*.padding-content {
    padding: 1rem 2rem;
}*/
.nav-mobile {
    display: block;
}

.content-admin {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-auto-columns: 1fr;
    grid-template-areas:
    "stat"
    "list-user"
    "list-planned-game"
    "list-drafts-game";
    margin-bottom: 6rem;
}

.container-admin {
    margin-bottom: 6rem;
}

@media screen and (max-width: 1024px) {
    .nav-desktop {
        display: none;
    }

    .el-dialog {
        width: auto;
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

//
// TABLET
//
@media screen and (min-width: 1024px) {
    /*.padding-content {
        padding: 1rem 6rem;
    }*/
    .nav-mobile {
        display: none;
    }
    .nav-desktop {
        display: block;
    }
    .content-admin {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-auto-columns: 1fr;
        grid-template-areas:
        "stat stat"
        "list-user list-planned-game"
        "list-user list-drafts-game";
    }
}


//
// DESKTOP
//
@media screen and (min-width: 1280px) {
    /*.padding-content {
        padding: 1rem 20rem;
    }*/
    .nav-desktop {
        display: block;
    }
}