.container-desktop-admin {
    margin: 7rem 20rem;
}

:root {
	--primary: rgb(56, 178, 172);
    --positive: #f6ad55;
    --negative: red;
}

body {
    background-color: #ffffff;
}

.box {
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    min-width: 500px;
    margin: 2rem 0;
    background-color: #fafafa;
}

.el-loading-spinner {
    display: flex;
    justify-content: center;
}

.el-loading-mask {
    background-color: var(--primary);       
}
.el-loading-spinner .path {
    stroke: white;
    stroke-width: 5px;
}