.container-desktop-admin {
    margin: 7rem 20rem;
}

.card-admin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: var(--background-secondary);

    width: 100%;
    height: 100%;
    min-width: 20rem;
    
    .title {
        text-align: center;
        color: var(--text-primary);
        padding: 1rem 0;
        font-weight: 800;
        font-size: 1.25rem;
    }
    .actions {
        .el-button {
            background-color: var(--background-secondary);
            border: none;
            outline: none;
            color: var(--text-primary);
        }
    
        .el-button i,
        button:hover  {
            color: var(--text-secondary);
            outline: none;
        }
    }
    
}

:root {
    --positive: #f6ad55;
    --negative: red;

    --text-primary: #F7F4EF;
    --text-secondary: #FEAA00;
    //--vert: #788402;
    --background: #342628;
    --background-secondary: #4C3D3F;

    --tablet: 800px;
    --mobile: 900px;
}

body {
    background-color: var(--background);
}

.box {
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    min-width: 500px;
    margin: 2rem 0;
    background-color: #fafafa;
}

.el-loading-spinner {
    display: flex;
    justify-content: center;
}

.el-loading-mask {
    background-color: var(--primary);       
}
.el-loading-spinner .path {
    stroke: white;
    stroke-width: 5px;
}

.btn-backgound-dark {
    background-color: var(--background-secondary);
    color: var(--text-primary);
    border: none;

    &:hover,
    &:focus {
        color: var(--text-secondary);
        background-color: var(--background-secondary);
        border: none;
        outline: none;
    }
    &.is-disabled {
        background-color: var(--background-secondary);
        color: var(--text-primary);
        border: none;
        opacity: 0.5;
    }
}

/*  =================================================================
                        RESPONSIVE
    ================================================================= */

//
// MOBILE
//
.padding-content {
    padding: 1rem 2rem;
}

@media screen and (max-width: 1024px) {
    .content-admin {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-auto-columns: 1fr;
        grid-template-areas:
        "stat"
        "list-user"
        "list-planned-game"
        "list-drafts-game";
    }
}

//
// TABLET
//
@media screen and (min-width: 1024px) {
    .padding-content {
        padding: 1rem 6rem;
    }

    .content-admin {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr 1fr;
        grid-auto-columns: 1fr;
        grid-template-areas:
        "stat stat"
        "list-user list-planned-game"
        "list-user list-drafts-game";
    }
}


//
// DESKTOP
//
@media screen and (min-width: 1280px) {
    .padding-content {
        padding: 1rem 20rem;
    }
}